<div class="bio-container space-theme">
  <div class="profile-section">
    <div class="portrait-container">
      <img src="./assets/Bigfootavatar.png" class="portrait-image">
    </div>
    <h1 class="name">Cole Sutyak<span class="real-name"></span></h1>
    <p class="tagline">AI Developer</p>
    <div class="links">
      <a href="https://www.linkedin.com/in/colesutyak/" target="_blank">LinkedIn</a> |
      <a href="https://github.com/bigfoot1144" target="_blank">GitHub</a>
    </div>
  </div>
  <div class="bio-summary">
    <p>
      I'm Cole, welcome to my page. I've been doing AI since early 2020. I have a masters degree in computer science from the University of Akron. I've integrated an MNIST Classifier into this site, try drawing a number in the background!
    </p>
  </div>

<div class="timeline-section">
  <h2>My Journey</h2>
  <ul class="timeline">
    <!-- Sanctuary Software -->
    <li class="timeline-item">
      <div class="timeline-badge badge-sanctuary"
        style="background-image: url('assets/sanctuary.jpg');">
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Lead AI Developer</h4>
          <p><small class="text-muted">📅 June 2023 - Present</small></p>
        </div>
        <div class="timeline-body">
          <p><strong>Sanctuary Software</strong> | <a href="https://SANCSOFT.COM" target="_blank">SANCSOFT.COM</a></p>
          <p>
            As Lead AI Developer, I've been instrumental in driving the technical strategy and overseeing project delivery from the initial concept phase all the way through to deployment. My role also involves representing Sanctuary Software at various conferences and engaging in crucial meetings with startup founders and tech leads, which has been key to fostering new partnerships and collaborations.
          </p>
          <p>
            Internally, I've taken the initiative to conduct company-wide AI workshops, aimed at educating all employees on core AI concepts, practical applications, and industry best practices. I've led a diverse range of AI projects, applying technologies such as Reinforcement Learning for environment optimization and model creation using PPO. My work in Computer Vision has included OCR, object detection, vision transformers, and pose detection. I've also heavily utilized Large Language Models for prompt engineering, developing chatbot applications, and implementing RAG systems. Furthermore, I've applied Digital Signal Processing techniques for value estimation from radar signal data. A critical part of my responsibilities includes collaborating closely with the engineering team to review hardware designs, ensuring they are fully compatible with ongoing firmware development.
          </p>
        </div>
      </div>
    </li>

    <!-- Xadite Perceptions -->
    <li class="timeline-item">
      <div class="timeline-badge badge-xadite"
        style="background-image: url('assets/xadite.jpg');">
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Lead AI Developer</h4>
          <p><small class="text-muted">📅 April 2020 - May 2023</small></p>
        </div>
        <div class="timeline-body">
          <p><strong>Xadite Perceptions</strong> | <a href="https://XADITE.COM" target="_blank">XADITE.COM</a></p>
          <p>
            At Xadite Perceptions, I spearheaded a team of software developers, focusing on efficiently delivering software solutions even when faced with limited resources. My technical leadership involved the design and implementation of an embedded RF signal processing AI, leveraging TensorFlow Lite for optimized on-device performance. I also architected and deployed a comprehensive AI training and deployment pipeline specifically for embedded systems, making use of our in-house server infrastructure.
          </p>
        </div>
      </div>
    </li>

    <!-- Research Assistant -->
    <li class="timeline-item">
      <div class="timeline-badge badge-research"
        style="background-image: url('assets/srcml.png');">
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Research Assistant</h4>
          <p><small class="text-muted">📅 September 2021 - May 2022</small></p>
        </div>
        <div class="timeline-body">
          <p><strong>University of Akron</strong> | <a href="https://srcml.org" target="_blank">srcml.org</a></p>
          <p>
            During my time as a Research Assistant at the University of Akron, I was an active member of the team working on SrcML. My main role was overseeing changes for later C++ versions of SRCML. My responsibilities included attending weekly meetings with a diverse group of researchers and developers. In these sessions, we collaboratively discussed progress, identified challenges, and strategized on future iterations and improvements for the SrcML project.
          </p>
        </div>
      </div>
    </li>

    <!-- Master's Degree -->
    <li class="timeline-item">
      <div class="timeline-badge badge-masters"
        style="background-image: url('assets/UA.png');">
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Master of Science in Computer Science</h4>
          <p><small class="text-muted">📅 September 2021 - May 2022</small></p>
        </div>
        <div class="timeline-body">
          <p><strong>University of Akron</strong></p>
          <p>
            I pursued an accelerated degree pathway to earn my Master of Science in Computer Science from the University of Akron's esteemed Williams Honors College. I successfully completed this rigorous program with a GPA of 3.96 out of 4.0.
          </p>
        </div>
      </div>
    </li>

    <!-- Bachelor's Degree -->
    <li class="timeline-item">
      <div class="timeline-badge badge-bachelors"
        style="background-image: url('assets/UA.png');">
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Bachelor of Science in Computer Science</h4>
          <p><small class="text-muted">📅 September 2018 - May 2021</small></p>
        </div>
        <div class="timeline-body">
          <p><strong>University of Akron (Williams Honors College)</strong></p>
          <p>
            I obtained my Bachelor of Science in Computer Science with a specialization in the Systems Track from the University of Akron, graduating as a member of the Williams Honors College. I achieved Summa Cum Laude honors, finishing with a GPA of 3.89 out of 4.0.
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
</div>